<%= form_with(model: carabinero, local: true) do |form| %>
  <% if carabinero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carabinero.errors.count, "error") %> prohibited this carabinero from being saved:</h2>

      <ul>
        <% carabinero.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <% if signed_in? %>
      <% if current_user.Admin? %>
        <%= form.label :user_id %>
        <%= form.collection_select :user_id, User.all,:id, :name %>
      <% end %>
      <% if current_user.Carabinero? %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
