<div  class="row">
<div class="col-3"></div>
<div class="col-6">

<p>
  <strong>Nombre Unidad:</strong>
  <%= carabinero.name %>
</p>

<p>
  <strong>Telefono:</strong>
  <%=carabinero.phone %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= carabinero.address %>
</p>

<p>
  <strong>E-mail Unidad:</strong>
  <%= carabinero.email %>
</p>



<%= link_to 'Editar Unidad', edit_carabinero_path(carabinero) ,class: ["btn","btn-primary"]%>
</div><div class="col-3"></div>
</div>