<div  class="row">
<div class="col-3"></div>
<div class="col-6">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @carabinero.name %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @carabinero.phone %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @carabinero.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @carabinero.email %>
</p>

<p>
  <strong>Miembro de:</strong>
  <%= @pertenece.name%>
</p>

<%= link_to 'Editar carabinero', edit_carabinero_path(@carabinero) ,class: ["btn","btn-primary"]%> 
</div><div class="col-3"></div>
</div>