<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.css" rel="stylesheet" />
</head>

<body>
<%= form_with(model: crime, local: true) do |form| %>
  <%= include_gon %>
  <%coms = {} %>
  <% comuna_dic.each do | comuna | %>
    <% coms[comuna[0]] = comuna[1] %>
  <% end %>
  <div class="container-fluid">
    <div class="row justify-content-center custom-margin">
      <div class="col-sm-6 col-md-4 ">
        <!-- Add bg-primary in form tag if want form background color-->
        <!--text-white if want text color white-->
        <div class="field">
          <%= form.label :title, "Título", class:"pl-2 font-weight-bold" %><br />
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.label :labels, "Delito", class:"pl-2 font-weight-bold" %><br />
          <%= form.collection_select :labels, CrimeTag.all,:id, :tag %>
        </div>

        <div class="field", onchange="aaa()">
          <%= form.label :region, "Region", class:"pl-2 font-weight-bold" %><br />
          <%= form.collection_select :region, Region.all,:region, :region %>
        </div>
        <div class="field">
          <%= form.label :comuna, "Comuna", class:"pl-2 font-weight-bold" %><br />
          <%= form.collection_select :comuna, [],:comuna, :comuna %>
        </div>
        <div class="field">
          <%= form.label :place, "Lugar", class:"pl-2 font-weight-bold" %><br />
          <%= form.text_field :place, class: "form-control" %>
        </div>
        <div class="field">
          <%= form.label :fecha, "Fecha", class:"pl-2 font-weight-bold" %><br />
          <%= form.datetime_field :fecha, class: "form-control", id: 'datetimepicker'%>
        </div>
        <div class="field">
          <%= form.label :description, "Relato", class:"pl-2 font-weight-bold" %><br />
          <%= form.text_area :description , class: "form-control" %>
        </div>

        <div>
          <%= form.label :carabineros_id, "Unidad a cargo", class:"pl-2 font-weight-bold" %><br />
          <%= form.collection_select :carabineros_id, Carabinero.all,:id, :name %>
        </div>

        <% if current_user.Fiscal? %>
        <%= form.hidden_field :fcargo, value: current_user.name %>
        <% end %>
        <% if current_user.Carabinero? %>
          <%= form.hidden_field :ccargo, value: current_user.name %>
        <% end %>


        <% if crime.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(crime.errors.count, "error") %> prohibited this crime from being saved:</h2>

            <ul>
              <% crime.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="actions">
          <%= form.submit "Crear Crimen", class: "btn btn-outline-success mt-3 btn-block shadow-sm font-weight-bold"%>
        </div>
        <div class="form-group">
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
    var dic = gon.comuna_dic;
    window.aaa = function() {
        var regionList = document.getElementById("crime_region");
        var comunaList = document.getElementById("crime_comuna");
        var selectedReg = regionList.options[regionList.selectedIndex].value;
        while (comunaList.options.length)
        {
          comunaList.remove(0);
        }
        var comunas = dic[selectedReg];
        if (comunas)
        {
            var i;
            for (i = 0; i < comunas.length; i++) {
                var comuna = new Option(comunas[i], i);
                comunaList.options.add(comuna);
            }
        }
    }
</script>
<script tpye="text/javascript">
    var today = new Date();

    var options = {
        maxDate: new Date(),
        maxTime: new Date(),
        disabledTimeIntervals: [
            [moment(), moment().hour(24).minutes(0).seconds(0)]
        ],
        format: 'm/d/Y H:i A',
        timepicker: true,
        onChangeDateTime: function(date) {
            // Here you need to compare date! this is up to you :-)
            if (date.getDate() === today.getDate()) {
                this.setOptions({maxTime: new Date()});
            } else {
                this.setOptions({maxTime: false});
            }
        }
    };
  $(function(){
      $('#datetimepicker').datetimepicker(options);
  });
</script>
</body>