<h1 style="margin-left: 200px">
  Resultados de la busqueda " <%= @dataa %> "
</h1>

<div class="row">

  <% if !@uniformados.nil? %>
    <div class="col-3">
<% @uniformados.each do |carabinero|%>
      <div class="card" style="width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Unidad policial</h5>
          <h6 class="card-subtitle mb-2 text-muted">Numero <%= carabinero.id %></h6>
          <%= render :partial => "carabineros/sshow", :locals => { :carabinero => carabinero }  %>
        </div>
      </div>

    <%end %>
</div>
  <%end %>




    <% if !@victimas.nil? %>
    <div class="col-3">

    <% @victimas.each do |victim|%>
        <div class="card" style="width: 23rem;">
          <%tot = CrimeVictim.where(victim_id:victim.id).count %>
          <div class="card-body">
            <h5 class="card-title">Victima</h5>
            <h6 class="card-subtitle mb-2 text-muted">Aparece en
              <% if tot >0%>
                <%= CrimeVictim.where(victim_id:victim.id).pluck(:crime_id) %>
              <%else %>
                0 Registros</h6>

            <%end %>
              </h6>
              <%= render :partial => "victims/sshow", :locals => { :victim => victim }  %>
        </div>
        </div>

  <%end %>
    </div>
    <%end %>


    <% if !@carabineros.nil? %>
        <div class="col-3" >

          <% @carabineros.each do |carabinero|%>
          <%if carabinero.job!= "Admin"%>
            <div class="card" style="width: 23rem;">
              <div class="card-body">
                <h5 class="card-title">Unidad policial</h5>
                <h6 class="card-subtitle mb-2 text-muted">Numero unidad <%= carabinero.id %></h6>
                <%= render :partial => "users/sshow", :locals => { :carabinero => carabinero }  %>
              </div>
            </div>
          <%end %>
          <%end %>



        </div>

    <%end %>
    <% if !@crimenes.nil? %>  <div class="col-3" >
      <% @crimenes.each do |crime|%>

        <div class="card" style="width: 23rem;">
          <div class="card-body">
            <h5 class="card-title">Procedimiento</h5>
            <h6 class="card-subtitle mb-2 text-muted">N# Folio <%= crime.id %></h6>
            <%= render :partial => "crimes/sshow", :locals => { :crime => crime }  %>
          </div>
        </div>
      <%end %>
</div>
    <%end %>

</div>