<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>Crimen</title>
  <style>
    .openChatBtn {
      background-color: rgb(52, 58, 64);
      color: white;
      padding: 16px 20px;
      border: none;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      opacity: 1;
      width: 117px;
    }
    .openChat {
      display: none;
      position: fixed;
      border: 3px solid #343a406b;
      z-index: 9;
    }
    #cbox {
      max-width: 500px;
      padding: 10px;
      background-color: #343a40;
      height: 700px


    }
    #cbox textarea {
      width: 100%;
      font-size: 18px;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      font-weight: 500;
      background: #d5e7ff;
      color: rgb(0, 0, 0);
      resize: none;
      min-height: 200px;
    }
    #cbox textarea:focus {
      background-color: rgb(219, 255, 252);
      outline: none;
    }
    #chbtn {
      background-color: rgb(34, 197, 107);
      color: white;
      padding: 16px 20px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      width: 40%;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    #cbox .close {
      background-color: #ff0000;+
      height: 8%
    }
    #cbox .ebtn {
      padding: 16px 20px;
      font-weight: bold;
      width: 40%;
      height: 8%
    }
    #chbtn:hover, .openChatBtn:hover {
      opacity: 1;
    }
  </style>
</head>
<body>
  <main>
    <div class="d-flex position-fixed" id="sidebar-wrapper">
      <div class="list-group list-group-flush container-fluid">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white font-italic">Inicio</a>
        <a href="#multi" class="list-group-item list-group-item-action bg-dark text-white font-italic">Doc. Adjunto</a>
        <div class="chatWrapp">
          <button class="openChatBtn list-group-item list-group-item-action bg-dark text-white font-italic " onclick="openForm()">Chat</button>
          <div class="openChat">
            <form id="cbox">
              <h1 class="text-white">Chat</h1>
              <label for="msg" class="text-white"><b>Message</b></label>
              <div id="target" style="overflow: scroll; width: 450px; height: 470px;">
                <% @message_crimes.each do |message| %>
                  <% if message.crime_id == @crime.id %>
                    <tr>
                      <%= render partial: 'messages/messages_tile', locals: { message: message } %>
                    </tr>
                  <% end %>
                <% end %>
                -                </div>

              <%= link_to "Enviar Mensaje", new_message_path(:crime => @crime.id), class: ["btn", "btn-primary","ebtn"] %>
              <button type="button" class="btn close" id="chbtn" onclick="closeForm()">
                Cerrar
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <h1 class="container-fluid col-6">Caso N°<%= @crime.id%> <%= @crime.title%></h1>
        <% if @crime.estado == "Borrador"%>
          <h5 class="container-fluid col-6"><%=link_to "Confirmar Borrador",btop_path(@crime.id),class: ["btn", "btn-success"]%></h5>
    <%end %>
      <% if current_user.job == "Fiscal"%>
        <% if @crime.estado == "Pendiente"%>
          <h5 class="container-fluid col-6"><%=link_to "Cerrar Caso",btop_path(@crime.id),class: ["btn", "btn-success"]%></h5>
        <%end %>
      <%end %>
      <h5 class="container-fluid col-6">Fecha procedimiento: <%= @crime.fecha.to_date%></h5>
      <h5 class="container-fluid col-6">Fecha registro procedimiento: <%= @crime.created_at.to_date%></h5>
      <h5 class="container-fluid col-6">Fecha última actualización del procedimiento: <%= @crime.updated_at.to_date%></h5>
      <h5 class="container-fluid col-6">Delito: <%= @tags.tag%></h5>
      <h5 class="container-fluid col-6">Estado: <%= @crime.estado%></h5>
      <br>
      <h6 class="container-fluid col-6">Lugar del hecho: <%= @crime.place%></h6>
      <h6 class="container-fluid col-6">Region: <%= @crime.region%></h6>
      <h6 class="container-fluid col-6">Comuna: <%= @crime.comuna%></h6>
      <h6 class="container-fluid col-6">Creado por: <%= @cp.name%></h6>

    </div>

    <br>
    <div class="container-fluid">
      <h3 class="container-fluid col-6">Relato</h3>
      <p class="container-fluid col-6"><%= @crime.description%></p>

    </div>
    <div class="container-fluid">
      <%@crimethief = CrimeThief.new%>
      <%@thief = Thief.new%>
      <%@victim = Victim.new%>
      <%@witness = Witness.new%>
      <%@crimevictim = CrimeVictim.new%>
      <%@crimewitness = CrimeWitness.new%>
      <%@crime_file = CrimeFile.new%>

      <div class="row">
        <div class="container-fluid col-6">
          <div class="card text-white bg-dark mb-3" style="margin-top:20px">
            <div class="card-header">
              <h2>Imputados</h2>
              <%# if current_user.Carabinero? %>
              <div class="float-right">
                <%= link_to "Registrar", new_thief_path,:class => "btn btn-primary"%>
              </div>
              <%# end %>
            </div>
            <table class="table table-striped table-dark table-responsive-sm">
              <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Alias</th>
                <th>Delito</th>
                <th>Estado</th>
                <% if current_user.Fiscal? %>
                  <th>Acción</th>
                <%end%>
              <tr>
                <% criminals = CrimeThief.where(crime_id:@crime.id).distinct.pluck(:thief_id, :pronunciado)%>
                <% criminals.each_with_index  do |crim, ind| %>
                <tr>
                  <td><%= Thief.where(id:crim[0])[0].rut%></td>
                  <td><%= Thief.where(id:crim[0])[0].name%></td>
                  <td><%= Thief.where(id:crim[0])[0].alias_list%></td>
                  <td>
                    <% flo = "" %>
                    <% flo_crimen = "" %>
                    <% CrimeThief.where(thief_id:crim[0], crime_id:@crime.id).each do |pros| %>
                      <li>
                        <div>

                        </div>
                        <div>
                          <%=pros.marca%>
                        </div>
                      </li>
                      <% flo = pros.thief_id %>
                      <% flo_crimen = pros.crime_id %>
                    <%end%>
                  </td>
                  <td><%= CrimeThief.where(thief_id:flo, crime_id:flo_crimen).first.estado%></td>
                  <% if current_user.Fiscal? %>
                    <% if !crim[1] %>
                      <td>

                        <%if current_user.job == "Fiscal"%>

                          <%= render partial: 'crime_thiefs/form2',locals: {crime_thief: CrimeThief.where(thief_id: flo, crime_id:flo_crimen).first} %>
<!--                          <button type="button" class="btn btn-primary" data-target="#pronunciarseModal" data-toggle="modal" aria-pressed="false" autocomplete="off">-->
<!--                            Pronunciarse-->
<!--                          </button>-->
                        <%end %>
                      </td>
                    <% else %>
                      <td>
                        <button type="button" class="btn btn-primary disabled" data-toggle="button" aria-pressed="false" autocomplete="off">
                          Listo
                        </button>
                    <%end%>
                  </td>
                  <%end%>
                <tr>
              <%end%>
            </table>
            <%# if current_user.Carabinero? %>
              <div>
              <div class="float-right">
                <%if current_user.job == "Fiscal" or @crime.estado == "Borrador" %>
              <%= render partial: 'crime_thiefs/form', locals: {crime_thief: @crimethief} %><%end %>
              </div>
              <h5 class="float-right">+</h5>
              </div>
            <%# end %>
          </div>
          <%=
            link_to 'Descargar Excel',
                    thiefs_path(format: :xlsx)
          %>
          <div class="card text-white bg-dark mb-3" style="margin-top:20px">
            <div class="card-header">
              <h2>Víctimas</h2>
              <%# if current_user.Carabinero? %>
                <div class="float-right">
                <%= link_to "Registrar", new_victim_path,:class => "btn btn-primary"%>
                </div>
              <%# end %>
            </div>
            <table class="table table-striped table-dark table-responsive-sm">
              <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Relato</th>
              <tr>
                <% victim_ids = CrimeVictim.where(crime_id: @crime.id).pluck(:victim_id)%>
                <% cws = CrimeVictim.where(crime_id: @crime.id, victim_id: victim_ids)%>
                <% Victim.where(id:victim_ids).each do |victim|%>
                <tr>
                  <td><%= victim.rut%></td>
                  <td><%= victim.name%></td>
                  <td><%= cws.where(victim_id: victim)[-1].relato%></td>
                <tr>
              <%end%>
            </table>
            <%# if current_user.Carabinero? %>
              <div>
              <div class="float-right">
                <%if current_user.job == "Fiscal" or @crime.estado == "Borrador" %>

              <%= render partial: 'crime_victims/form', locals: {crime_victim: @crimevictim} %>
                <%end %>
              </div>
              <h5 class="float-right">+</h5>
              </div>
            <%# end %>
          </div>
          <%=
            link_to 'Descargar Excel',
                    victims_path(format: :xlsx,:crime => @crime.id)
          %>
          <div class="card text-white bg-dark mb-3" style="margin-top:20px">
            <div class="card-header">
              <h2>Testigos</h2>
              <%# if current_user.Carabinero? %>
                <div class="float-right">
                <%= link_to "Registrar", new_witness_path,:class => "btn btn-primary"%>
                </div>
              <%# end %>
            </div>
            <table class="table table-striped table-dark table-responsive-sm">
              <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Relato</th>
              <tr>
                <% witness_ids = CrimeWitness.where(crime_id: @crime.id).pluck(:witness_id)%>
                <% cws = CrimeWitness.where(crime_id: @crime.id, witness_id: witness_ids)%>
                <% Witness.where(id:witness_ids).each do |witness|%>
                <tr>
                  <td><%= witness.rut%></td>
                  <td><%= witness.name%></td>
                  <td><%= cws.where(witness_id: witness)[-1].relato%></td>
                <tr>
              <%end%>
            </table>
            <%# if current_user.Carabinero? %>
              <div>
              <div class="float-right">
                <%if current_user.job == "Fiscal" or @crime.estado == "Borrador" %>

              <%= render partial: 'crime_witnesses/form', locals: {crime_witness: @crimewitness} %><%end %>
              </div>
              <h5 class="float-right">+</h5>
              </div>
            <%# end %>
          </div>
          <%=
            link_to 'Descargar Excel',
                    witnesses_path(format: :xlsx)
          %>
          <div class="card text-white bg-dark mb-3" style="margin-top:20px" id="multi">
            <div class="card-header">
              <h2>Documentos Adjuntos</h2>
              <%# if current_user.Carabinero? %>
              <div class="float-right">
                <%= render partial: 'crime_files/form', locals: {crime_file: @crime_file} %>
              </div>
              <%# end %>
            </div>
            <div class="card-body">

              <table class="table table-striped table-dark table-responsive-sm">
                <tr>
                  <th>Nº</th>
                  <th>Descripcion</th>
                  <th>Autor</th>
                  <th>Vista previa</th>
                  <th>Link</th>
                  <th>Link</th>
                </tr>
                <% @files = CrimeFile.where(crime_id:@crime.id)%>
                <% @files.each do |file|%>
                  <tr>
                    <td><%=file.id%></td>
                    <td><%= file.description%></td>
                    <td><%=file.user.name%></td>

                    <% if file.file.attached?%>
                    
                      <% if file.file.representable? %>
                        <td><embed src=<%= url_for(file.file) %> type="application/pdf" width="100%" height="400px" /></td>
                        
                      <% elsif file.file.content_type == "video/mp4"%>
                        <td>
                          <div style="width:400px; height:400px">
                              <%= video_tag(url_for(file.file), style:"width:100%;height: auto", controls:'') %>
                              <br>
                          </div>
                        </td>
                      <% end %>
                    

                      <td><%= link_to 'Descargar',file.file,class: ["btn", "btn-primary"]%></td>
                    <% else %>
                      <td><h2>SIN CONTENIDO</h2></td>
                    <% end %>
                    <td><%= link_to 'Eliminar',file,method: :DELETE ,:data => { :confirm  => 'Seguro que desea borrar el Archivo?, tu usario sera responasble visible para esta accion' },class: ["btn", "btn-danger"]%></td>
                <% end %>
                </tr>
              </table>
            </div>
          </div>
          <%=
            link_to 'Descargar Procedimiento',
                    crimes_path(format: :xlsx)
          %>
          <div class="float-right">
            <% if current_user.Carabinero? %>
              <%= link_to "Enviar a Fiscal", @crime,:class => "btn btn-primary"%>
            <% end %>
          </div>

          <div class="float-right">
            <% if current_user.Admin? %>
              <%= link_to "Eliminar", crime_path(@crime.id),:style => "margin-left:5px",:data => { :foo_bar => 'Seguro que desea borrar el crimen?' },:method => :DELETE,:class => "btn btn-danger"%>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </main>
</body>
<script>
    document .querySelector(".openChatBtn") .addEventListener("click", openForm);
    document.querySelector(".close").addEventListener("click", closeForm);
    function openForm() {
        document.querySelector(".openChat").style.display = "block";
    }
    function closeForm() {
        document.querySelector(".openChat").style.display = "none";
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>



<!--<div class="col-3">-->
<!--  <div style="margin-top:1500px">-->
<!--    <div class="card text-white bg-dark mb-3">-->
      <%#= render partial: 'crime_files/form', locals: {crime_file: @crime_file} %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

