<p id="notice"><%= notice %></p>

<h1>Ucs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Carabineros</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ucs.each do |uc| %>
      <tr>
        <td><%= uc.user_id %></td>
        <td><%= uc.carabineros_id %></td>
        <td><%= link_to 'Show', uc %></td>
        <td><%= link_to 'Edit', edit_uc_path(uc) %></td>
        <td><%= link_to 'Destroy', uc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uc', new_uc_path %>
