<body>
<%= form_with(model: fiscal, local: true) do |form| %>
  <div class="container-fluid">
    <div class="row justify-content-center custom-margin">
      <div class="col-sm-6 col-md-4 ">
      <% if fiscal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(fiscal.errors.count, "error") %> prohibited this fiscal from being saved:</h2>

          <ul>
            <% fiscal.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label "Nombre", class:"pl-2 font-weight-bold" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "N° Telefono", class:"pl-2 font-weight-bold" %>
        <%= form.text_field :phone, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Dirección", class:"pl-2 font-weight-bold" %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :email, class:"pl-2 font-weight-bold" %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div>
        <% if signed_in? %>
          <%# if current_user.Admin? %>
            <%#= form.label :user_id, "Creado por", class:"pl-2 font-weight-bold" %>
            <%#= form.collection_select :user_id, User.all,:id, :name %>
          <%# end %>
          <%# if current_user.Fiscal? %>
            <%= form.hidden_field :user_id, value: current_user.id %>
          <%# end %>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit "Registrar Fiscalia", class: "btn btn-outline-success mt-3 btn-block shadow-sm font-weight-bold" %>
      </div>
    </div>
  </div>
</div>
<% end %>
</body>