<div  class="row">
<div class="col-3"></div>
<div class="col-6">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @fiscal.name %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @fiscal.phone %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @fiscal.address %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @fiscal.email %>
</p>



<%= link_to 'Editar Fiscalia', edit_fiscal_path(@fiscal),class: ["btn","btn-primary"] %>
</div><div class="col-3"></div>
</div>